.home-container {
    // background-color: pink;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.header {
    // background-color: violet;
    width: 100%;
    height: 10%;

    .logo-container {  
        // background-color: aquamarine;
    }

}

.welcome-container {
    display: flex;
    justify-content: center;
    // background-color: lightblue;

}

.home-img {
    width: 40%;
}